<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ActAppFingerPlayWeb</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ddb.act.red.web.listener.DDBActivtyListener</listener-class>
  </listener>
  <filter>
    <display-name>KKDEncodingFilter</display-name>
    <filter-name>KKDEncodingFilter</filter-name>
    <filter-class>kkd.common.filter.KKDEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>KKDEncodingFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>KKDEncodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>KKDEncodingFilter</filter-name>
    <url-pattern>/PubHitaoHanlder</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ReqFormatFilter</display-name>
    <filter-name>ReqFormatFilter</filter-name>
    <filter-class>kkd.common.filter.ReqFormatFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ReqFormatFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReqFormatFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description>
    </description>
    <display-name>ControlServlet</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>kkd.common.servlet.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/center/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>UiServlet</display-name>
    <servlet-name>UiServlet</servlet-name>
    <servlet-class>ddb.webconf.ui.control.UiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UiServlet</servlet-name>
    <url-pattern>/UiServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
  <display-name>ValiBindActUtil</display-name>
  <servlet-name>ValiBindActUtil</servlet-name>
    <servlet-class>com.ddb.act.red.web.servlet.ValiBindActUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiBindActUtil</servlet-name>
    <url-pattern>/ValiBindActUtil</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>PlayServlet</display-name>
    <servlet-name>PlayServlet</servlet-name>
    <servlet-class>com.ddb.act.red.web.servlet.PlayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayServlet</servlet-name>
    <url-pattern>/PlayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryUserGiftServlet</display-name>
    <servlet-name>QueryUserGiftServlet</servlet-name>
    <servlet-class>com.ddb.act.red.web.servlet.QueryUserGiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryUserGiftServlet</servlet-name>
    <url-pattern>/QueryUserGiftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValiDateActUtil</display-name>
    <servlet-name>ValiDateActUtil</servlet-name>
    <servlet-class>com.ddb.act.red.web.servlet.ValiDateActUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValiDateActUtil</servlet-name>
    <url-pattern>/ValiDateActUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.ddb.act.red.web.servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/ShareServlet</url-pattern>
  </servlet-mapping>
</web-app>